btn{
    padding-left: 10px;
}
.logo {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease;
}


.hero-section {
  height: 100vh;
  background-image: url('../Images/home_background.jpg'); 
  background-size: cover;
  background-position:left;
  background-repeat: no-repeat;
  position: relative;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); /* dark overlay */
  z-index: 1;
}

.hero-section .container {
  z-index: 2;
  position: relative;
}
.header-main {
  width: 100%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
  z-index: 1000;
  overflow: visible;
}

.header-main.scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.header-main.scrolled .nav-link {
  color: #333;
}
.header-main.scrolled .btn {
  background-color: #007bff;
  color: white;
}

span{
    color: aqua;
}

.footer-custom {
font-family: 'Playfair Display', serif;
}

.footer-link {
    
  color: #bbb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #2e59e5;
  text-decoration: underline;
}
.service-section{
  background:#eef5f8;
}
